<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Main Content Section -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Discover Your Oasis</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sparkling Artworks</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Explore Artworks is your ultimate destination for discovering hidden gems and must-see attractions. Whether you are a seasoned traveler or just looking for a weekend getaway, we have something for everyone. Dive into our curated lists of top places, unique experiences, and local favorites that will make your journey unforgettable.</p>
        <ion-img src="assets/icon/d3.jpg" alt="Explore Haven" />
      </ion-card-content>
    </ion-card>

    <!-- Key Features Section -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Key Features</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li><strong>Curated Lists:</strong> Discover carefully selected top attractions, dining options, and activities tailored to your interests.</li>
          <li><strong>Local Insights:</strong> Get insider tips and recommendations from locals to enhance your travel experience.</li>
          <li><strong>Interactive Maps:</strong> Navigate through our interactive maps to easily find your way to exciting destinations.</li>
          <li><strong>Personalized Itineraries:</strong> Create and customize your own itineraries to make the most of your time in each location.</li>
        </ul>
      </ion-card-content>
    </ion-card>

    <!-- Call to Action Section -->
    <!-- <ion-card>
      <ion-card-header>
        <ion-card-title>Get Started</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ready to embark on your next adventure? Explore Haven is here to guide you every step of the way. Click the button below to start exploring!</p>
        <ion-button expand="full" color="primary" [routerLink]="['/explore']">Start Exploring</ion-button>
      </ion-card-content>
    </ion-card> -->
  </ion-content>
</ion-content>

